### Import Modules

In [91]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

### Manchester City Players Stats

In [92]:
mc_stats_url = "https://www.espn.in/football/team/stats/_/id/382/league/UEFA.CHAMPIONS/view/scoring"
mc_stats_response = requests.get(mc_stats_url)

In [93]:
mc_stats_soup = BeautifulSoup(mc_stats_response.content, 'html.parser')
mc_stats_table = mc_stats_soup.find("table")

In [94]:
mc_stats_headers = [th.text for th in mc_stats_table.find_all('th')]
mc_stats_headers

['RK', 'Name', 'P', 'G']

In [95]:
for i in range(len(mc_stats_headers)):
    if mc_stats_headers[i] == 'P':
        mc_stats_headers[i] = 'matches_played'
    if mc_stats_headers[i] == 'G':
        mc_stats_headers[i] = 'goals_scored'

In [96]:
mc_stats_data = []

rows = mc_stats_table.find_all('tr')
for row in rows:
    if(row.find('th')):
        continue
    row_data = [td.text for td in row.find_all('td')]
    mc_stats_data.append(row_data)

In [97]:
mc_stats_df = pd.DataFrame(mc_stats_data, columns=mc_stats_headers)
mc_stats_df.head()

  RK             Name matches_played goals_scored
0  1   Erling Haaland             10           12
1  2   Bernardo Silva             12            3
2      Julián Álvarez             10            3
3        Riyad Mahrez              9            3
4  5  Kevin De Bruyne              9            2

In [98]:
mc_stats_df.drop(['RK'], axis=1, inplace=True)
mc_stats_df.head()

              Name matches_played goals_scored
0   Erling Haaland             10           12
1   Bernardo Silva             12            3
2   Julián Álvarez             10            3
3     Riyad Mahrez              9            3
4  Kevin De Bruyne              9            2

In [99]:
mc_stats_df.to_csv('./Data/ManchesterCityPlayersStats.csv', index=False)

### Manchester City Players Discipline

In [100]:
mc_disc_url = "https://www.espn.in/football/team/stats/_/id/382/league/UEFA.CHAMPIONS/view/discipline"
mc_disc_response = requests.get(mc_disc_url)

In [101]:
mc_disc_soup = BeautifulSoup(mc_disc_response.content, 'html.parser')
mc_disc_table = mc_disc_soup.find("table")

In [102]:
mc_disc_headers = [th.text for th in mc_disc_table.find_all('th')]
mc_disc_headers

['RK', 'Name', 'P', 'yc', 'rc', 'Pts']

In [103]:
for i in range(len(mc_disc_headers)):
    if mc_disc_headers[i] == 'P':
        mc_disc_headers[i] = 'matches_played'
    if mc_disc_headers[i] == 'yc':
        mc_disc_headers[i] = 'yellow_cards'
    if mc_disc_headers[i] == 'rc':
        mc_disc_headers[i] = 'red_cards'
    if mc_disc_headers[i] == 'Pts':
        mc_disc_headers[i] = 'points'

In [104]:
mc_disc_data = []

rows = mc_disc_table.find_all('tr')
for row in rows:
    if(row.find('th')):
        continue
    row_data = [td.text for td in row.find_all('td')]
    mc_disc_data.append(row_data)

In [105]:
mc_disc_df = pd.DataFrame(mc_disc_data, columns=mc_disc_headers)
mc_disc_df.head()

  RK            Name matches_played yellow_cards red_cards points
0  1  Ilkay Gündogan             12            4         0      4
1  2    Sergio Gómez              5            0         1      3
2  3  Bernardo Silva             12            2         0      2
3         Rúben Dias             11            2         0      2
4      Manuel Akanji             10            2         0      2

In [106]:
mc_disc_df.drop(['RK'], axis=1, inplace=True)
mc_disc_df.head()

             Name matches_played yellow_cards red_cards points
0  Ilkay Gündogan             12            4         0      4
1    Sergio Gómez              5            0         1      3
2  Bernardo Silva             12            2         0      2
3      Rúben Dias             11            2         0      2
4   Manuel Akanji             10            2         0      2

In [107]:
mc_disc_df.to_csv('./Data/ManchesterCityPlayersDisc.csv', index=False)

### Inter Milan Players Stats

In [108]:
im_stats_url = "https://www.espn.in/football/team/stats/_/id/110/league/UEFA.CHAMPIONS/view/scoring"
im_stats_response = requests.get(im_stats_url)

In [109]:
im_stats_soup = BeautifulSoup(im_stats_response.content, 'html.parser')
im_stats_table = im_stats_soup.find("table")

In [110]:
im_stats_headers = [th.text for th in im_stats_table.find_all('th')]
im_stats_headers

['RK', 'Name', 'P', 'G']

In [111]:
for i in range(len(im_stats_headers)):
    if im_stats_headers[i] == 'P':
        im_stats_headers[i] = 'matches_played'
    if im_stats_headers[i] == 'G':
        im_stats_headers[i] = 'goals_scored'

In [112]:
im_stats_data = []

rows = im_stats_table.find_all('tr')
for row in rows:
    if(row.find('th')):
        continue
    row_data = [td.text for td in row.find_all('td')]
    im_stats_data.append(row_data)

In [113]:
im_stats_df = pd.DataFrame(im_stats_data, columns=im_stats_headers)
im_stats_df.head()

  RK                Name matches_played goals_scored
0  1          Edin Dzeko             12            4
1  2    Lautaro Martínez             12            3
2         Nicolò Barella             11            3
3          Romelu Lukaku              7            3
4  5  Henrikh Mkhitaryan             12            2

In [114]:
im_stats_df.drop(['RK'], axis=1, inplace=True)
im_stats_df.head()

                 Name matches_played goals_scored
0          Edin Dzeko             12            4
1    Lautaro Martínez             12            3
2      Nicolò Barella             11            3
3       Romelu Lukaku              7            3
4  Henrikh Mkhitaryan             12            2

In [115]:
im_stats_df.to_csv('./Data/InterMilanPlayersStats.csv', index=False)

### Inter Milan Players Discipline

In [116]:
im_disc_url = "https://www.espn.in/football/team/stats/_/id/110/league/UEFA.CHAMPIONS/view/discipline"
im_disc_response = requests.get(im_disc_url)

In [117]:
im_disc_soup = BeautifulSoup(im_disc_response.content, 'html.parser')
im_disc_table = im_disc_soup.find("table")

In [118]:
im_disc_headers = [th.text for th in im_disc_table.find_all('th')]
im_disc_headers

['RK', 'Name', 'P', 'yc', 'rc', 'Pts']

In [119]:
for i in range(len(im_disc_headers)):
    if im_disc_headers[i] == 'P':
        im_disc_headers[i] = 'matches_played'
    if im_disc_headers[i] == 'yc':
        im_disc_headers[i] = 'yellow_cards'
    if im_disc_headers[i] == 'rc':
        im_disc_headers[i] = 'red_cards'
    if im_disc_headers[i] == 'Pts':
        im_disc_headers[i] = 'points'

In [120]:
im_disc_data = []

rows = im_disc_table.find_all('tr')
for row in rows:
    if(row.find('th')):
        continue
    row_data = [td.text for td in row.find_all('td')]
    im_disc_data.append(row_data)

In [121]:
im_disc_df = pd.DataFrame(im_disc_data, columns=im_disc_headers)
im_disc_df.head()

  RK                Name matches_played yellow_cards red_cards points
0  1      Nicolò Barella             11            2         0      2
1     Henrikh Mkhitaryan             12            2         0      2
2     Alessandro Bastoni             11            2         0      2
3       Federico Dimarco             10            2         0      2
4  5    Valentin Carboni              1            1         0      1

In [122]:
im_disc_df.drop(['RK'], axis=1, inplace=True)
im_disc_df.head()

                 Name matches_played yellow_cards red_cards points
0      Nicolò Barella             11            2         0      2
1  Henrikh Mkhitaryan             12            2         0      2
2  Alessandro Bastoni             11            2         0      2
3    Federico Dimarco             10            2         0      2
4    Valentin Carboni              1            1         0      1

In [123]:
im_disc_df.to_csv('./Data/InterMilanPlayersDisc.csv', index=False)

### Merging Data

In [124]:
mc_stats = './Data/ManchesterCityPlayersStats.csv'
mc_disc = './Data/ManchesterCityPlayersDisc.csv'

In [125]:
mc_matches_goals_data = pd.read_csv(mc_stats)
mc_discipline_points_data = pd.read_csv(mc_disc)

In [126]:
mc_merged_data = pd.merge(mc_matches_goals_data, mc_discipline_points_data, on='Name', how='left').fillna(0)
mc_data = './Data/ManchesterCity.csv'
mc_merged_data.to_csv(mc_data, index=False)

In [127]:
mc_df = pd.read_csv(mc_data)
mc_df.drop(['matches_played_y'], axis=1, inplace=True)

In [128]:
mc_df.insert(1, "Team", "Manchester City", True)
mc_df.rename(columns = {'matches_played_x':'matches_played'}, inplace = True)
mc_df.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points
0,Erling Haaland,Manchester City,10,12,0.0,0.0,0.0
1,Bernardo Silva,Manchester City,12,3,2.0,0.0,2.0
2,Julián Álvarez,Manchester City,10,3,0.0,0.0,0.0
3,Riyad Mahrez,Manchester City,9,3,0.0,0.0,0.0
4,Kevin De Bruyne,Manchester City,9,2,1.0,0.0,1.0

In [129]:
mc_df.to_csv(mc_data, index=False)

In [130]:
im_stats = './Data/InterMilanPlayersStats.csv'
im_disc = './Data/InterMilanPlayersDisc.csv'

In [131]:
im_matches_goals_data = pd.read_csv(im_stats)
im_discipline_points_data = pd.read_csv(im_disc)

In [132]:
im_merged_data = pd.merge(im_matches_goals_data, im_discipline_points_data, on='Name')
im_data = './Data/InterMilan.csv'
im_merged_data.to_csv(im_data, index=False)

In [133]:
im_df = pd.read_csv(im_data)
im_df.drop(['matches_played_y'], axis=1, inplace=True)

In [134]:
im_df.insert(1, "Team", "Inter Milan", True)
im_df.rename(columns = {'matches_played_x':'matches_played'}, inplace = True)
im_df.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points
0,Nicolò Barella,Inter Milan,11,3,2,0,2
1,Henrikh Mkhitaryan,Inter Milan,12,2,2,0,2
2,Denzel Dumfries,Inter Milan,11,1,0,0,0
3,Hakan Calhanoglu,Inter Milan,11,1,1,0,1
4,Robin Gosens,Inter Milan,10,1,1,0,1

In [135]:
im_df.to_csv(im_data, index=False)